{% extends "home.html" %}
{% block starts %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />



    <style>
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: orange;
        }

        a,
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            outline: none;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .section_all {
            position: relative;
            padding-top: 80px;
            padding-bottom: 80px;
            min-height: 100vh;
        }

        .section-title {
            font-weight: 700;
            text-transform: capitalize;
            letter-spacing: 1px;
        }

        .section-subtitle {
            letter-spacing: 0.4px;
            line-height: 28px;
            max-width: 550px;
        }

        .section-title-border {
            background-color: #000;
            height: 1 3px;
            width: 44px;
        }

        .section-title-border-white {
            background-color: #fff;
            height: 2px;
            width: 100px;
        }

        .text_custom {
            color: #9ca30c;
        }

        .about_icon i {
            font-size: 22px;
            height: 65px;
            width: 65px;
            line-height: 65px;
            display: inline-block;
            background: #fff;
            border-radius: 35px;
            color: skyblue;
            box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
        }

        .about_header_main .about_heading {
            max-width: 450px;
            font-size: 24px;
        }

        .about_icon span {
            position: relative;
            top: -10px;
        }

        .about_content_box_all {
            padding: 28px;
        }

        /*nav*/
        .main-navbar {
            height: 80px;
        }

        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9999;
            background-color: #ffffff;
            box-shadow: 0 2px 5px 2px rgb(38 34 34 / 14%);
        }

        .main-navbar a.nav-link {
            padding: 15px !important;
        }

        .main-navbar .dropdown-menu {
            padding: 0;
            box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
            border: 0;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }

        .navbar-brand img {
            height: 60px;
        }

        .dropdown-item:hover {
            background-color: orange;
            color: #fff;
        }

        .main-navbar .nav-link {
            color: #555;
        }

        .main-navbar .nav-link:hover {
            color: orange !important;
        }

        .main-navbar .navbar-nav .nav-link.active,
        .main-navbar .navbar-nav .show>.nav-link {
            color: orange;
        }

        .main-navbar .navbar-nav .nav-item .nav-link {
            position: relative;
            text-decoration: none;
            font-weight: 600;
        }

        
/*footer*/
    .mega-footer {
      /* background-color: skyblue; */
      padding-left: 30px;
      padding-right: 30px;
    }

    .footer-info h5,
    .footer-social h5 {
      padding-bottom: 10px;
      color: black;
    }

    .footer-info p {
      color: black;
    }

    .footer-social a {
      display: inline-block;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      padding-top: 8px;
      margin-right: 10px;
      margin-bottom: 10px;
      background: linear-gradient(to bottom right, #5d250a, #8f250c, #aa3b0b, #ca5c25, #df8140);
    }

    .footer-social a:hover {
      transform: scale3d(1.09, 1.09, 1.09);
    }

    .footer-social a:hover i {
      transform: scale3d(1.5, 1.5, 1.5);
    }

    footer {
      background: rgb(16, 38, 46);
      color: #fff;
      padding: 20px 30px 10px 30px;
    }

    footer .footer-menu ul {
      padding-left: 0;
    }

    footer .footer-menu ul li {
      display: inline-block;
    }

    footer .footer-menu ul li a {
      padding: 10px;
      color: #fff;
      transition: transform 0.1s;
    }

    footer ul li a:hover {
      color: #df8140;
    }

    .footer-info p {
      word-wrap: break-word;
    }

    .footer-logo {
      width: 250px;
    }

    .footer-logo img {
      width: 100%;
    }
    </style>


    <section class="section_all bg-light" id="about">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title_all text-center">
                        <h3 class="font-weight-bold">Welcome To <span class="text-custom">Donate For Change</span></h3>
                        <p class="section_subtitle mx-auto ">At Donate for Change, we provide you a platform
                            for donating unused items which were staying since years in your house.<br />Be a part of
                            Donate for change and Lets bring change. </p>
                        <div class="">
                            <i class=""></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4">
                    <div class="about_content_box_all mt-3">
                        <div class="about_detail text-center">
                            <div class="about_icon">
                                <i class="fa-solid fa-box-open"></i>
                            </div>
                            <h5 class="text-dark text-capitalize mt-3 font-weight-bold">Sharing your items</h5>
                            <p class="edu_desc mt-3 mb-0 ">At Donate for Change, we believe that every item
                                has the potential to make a difference</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="about_content_box_all mt-3">
                        <div class="about_detail text-center">
                            <div class="about_icon">
                                <i class="fab fa-angellist"></i>
                            </div>
                            <h5 class="text-dark text-capitalize mt-3 font-weight-bold">Sharing happiness</h5>
                            <p class="edu_desc mb-0 mt-3 ">At Donate for Change, we believe that the true
                                essence of giving lies in sharing .</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="about_content_box_all mt-3">
                        <div class="about_detail text-center">
                            <div class="about_icon">
                                <i class="fa-solid fa-face-smile"></i>
                            </div>
                            <h5 class="text-dark text-capitalize mt-3 font-weight-bold">Sharing Smiles </h5>
                            <p class="edu_desc mb-0 mt-3 ">It's about more than just the items; it's about the
                                stories they carry, the memories they hold.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row vertical_content_manage mt-5">
                <div class="col-lg-6">
                    <div class="about_header_main mt-3">
                        
                        <h4 class="about_heading text-capitalize font-weight-bold mt-4">where generosity meets
                            convenience!</h4>
                        <p class=" mt-3">Welcome to Donate for Change! We're your virtual
                            platform dedicated to connecting your unused items with
                            those who need them most. At Donate for Change, we believe that every item has the
                            potential to make a difference, whether it's a gently-used book, a spare piece of
                            furniture, or a forgotten gadget.</p>

                        <p class=" mt-3"> At Donate for Change, we believe that every item has the
                            potential to make a difference, whether it's a gently-used book, a spare piece of
                            furniture, or a forgotten gadget.We're not just a platform; we're a community united by the common
                            goal of creating positive change. Browse through our list of partnering organizations and
                            choose where you'd like your donations to go.    </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="img_about mt-3">
                        <img src="/media/images/blog-3.jpg" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>
            </div>

          
        </div>
    </section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

{% endblock %}